@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

body{
    background-color: #050506;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main{
    width: 80%;
    height: 59px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(50, 50, 50);
    background-color: #5C60691A;
    margin: 20px 179px 0 160px;
    border-radius: 10px;
}

.main img{
    padding: 0 29px;
    width: 114px;
    height: 54px;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.li{
    font-size: 15px;
    display: flex;
    gap: 50px;
    margin-right: 176px;
    color: white;
}

.btn button{
    border: 1px solid #7687B5;
    /* font-size: 15px; */
    font-weight: 300;
    color: white;
    border-radius: 28px;
    background-color: #7687B54A;
    /* width: 130px; */
    height: 42px;
}

.btn .one{
    background-color: #050506;
    font-size: 17px;
    width: 112px;
}

.btn .two{
    font-size: 17px;
    width: 160px;
}

.two{
    margin-right: 30px;
}


  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .triangle {
    z-index: 1;
    top: 53px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 520px solid #263048;
    filter: blur(40px);
    opacity: 0.7;
  }


.btn2{
    position: relative;
    top: 60px;
    text-align: center;
    z-index: 3;
}

.btn2 button{
    color: white;
    /* background: transparent; */
    border-radius: 10px;
    margin-left: 35%;
    /* text-align: right; */
    padding-right: 18px;
    border: 1px solid #3b3d42;
    background-color: #30303294;
    /* background: linear-gradient(to right, #8E8D8D, #282828); */
    font-weight: 400;
    font-size: 14px;
    height: 50px;
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text{
    position: absolute;
}


.text img{
    /* width: 120px; */
    height: 90px; 
    /* background-color: red; */
    position: relative;
    top: -620px;
    margin-left: 544px;
    opacity: 1;
    z-index: 1;
}

.text h4{
    color: white;
    position: relative;
    top: -550px;
    width: 730px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-left: 392px;
    z-index: 4;
}

.text button{
    font-size: 15px;
    font-weight: 400;
    color: #d5d5d6;
    background: linear-gradient(45deg, #7687B5, #333B4F);
    border: 1px solid #3b3d42;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);;
    /* box-shadow: 4px 4px 4px #050506; */
    position: relative;
    top: -498px;
    width: 185px;
    height: 48px;
    border-radius: 40px;
    text-align: center;
    margin-left: 59%;
    z-index: 4;
}

.text h6{
    color: #C5CDE3;
    position: relative;
    top: -480px;
    width: 730px;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    margin-left: 390px;
    z-index: 4;
}

.box{
    width: 970px;
    height: 582px;
    background-color: #000000;
    border: 2px solid #3b3d42;
    border-radius: 32px;
    position: relative;
    top: -247px;
    margin-left: 18%;
}

.background-image {
    opacity: 0.2;
    left: 25%;
    top: 38%;
    position: relative;
    object-fit: cover;
  }

  .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px; 
    height: 67px; 
  }

.scroll{
    position: absolute;
    display: flex;
}

.scroll img {
    position: relative;
    width: 100%;
    height: 130px;
    top: -140px;
  }

.component{
    margin-top: 4%;
    text-align: center;
    color: white;
}

.component h3{
    margin-bottom: 20px;
}

.images img{
    margin-left: 30px;
    /* gap: 10px; */
}


.content{
    top: -168px;
    position: relative;
    text-align: center;
    color: white;
    z-index: 3;
}

.content button{
    width: 96px;
    height: 34px;
    border-radius: 15px;
    border: 1px solid #3b3d42;
    background: linear-gradient(to left, #080808, #282828);
    color: #ffff;
    font-size: 10px;
    font-weight: 500;
    margin: 14% 0 10px 0;
}

.heading{
    position: relative;
    top: -61px;
    margin-left: 34%;
    padding-top: 1px;
    width: 500px;
    height: 120px;
    background-color: #000000
}

.heading :nth-child(1){
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    margin-top: 18px;
}

.heading :nth-child(2){
    background-image: linear-gradient(-45deg, #E2E8F8, #91B0FF);
    background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
}

.line{
    position: relative;
    top: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.line1{
    width: 24%;
    background-color: blue;
    background: linear-gradient(to right, #0D111A, #5C73AE);
    height: 3px;
    margin-top: 51px;
    /* margin-left: 20%; */
}

.line2{
    
    width: 24%;
    background-color: red;
    background: linear-gradient(to left, #0D111A, #5C73AE);
    height: 3px;
    margin-top: 51px;
    /* margin-left: 20%; */
}

.content :nth-child(4){
    margin-top: -47px;
    font-size: 15px;
    font-weight: 500;
}


.blurred-ellipse {
    margin: -3% 0 0 37%;
    width: 400px;
    height: 250px;
    background: radial-gradient(ellipse at center, #263048, #263048);
    filter: blur(30px);
    border-radius: 50%;
}

.cards{
    position: relative;
    top: -130px;
    display: flex;
    align-items: center;
    gap: 33px;
    margin-left: 13%;
    /* justify-content: space-evenly; */
}

.card1{
    /* position: relative; */
    width: 352px;
    height: 593px;
    border-radius: 16px;
    border: 1px solid #7687B5;
    background: linear-gradient(to right, #1D2333,#333B4F);
    /* background: url(assets/Group\ 12.svg); */
}

.card1 img{
    width: 304px;
    height: 304px;
    top: 90px;
    left: 24px;
    position: relative;
}

.card1 h3{
    width: 292px;
    height: 21px;
    position: relative;
    top: 120px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    line-height: 21px;
    padding: 44px 0 9px 37px;
}

.card1 h4{
    width: 305px;
    height: 59px;
    position: relative;
    top: 120px;
    font-size: 12px;
    font-weight: 300;
    color: white;
    line-height: 18px;
    padding: 0 0 9px 37px;
}


.services{
    position: relative;
    text-align: center;
    color: white;
    z-index: 3;
}

.services button{
    width: 96px;
    height: 34px;
    border-radius: 15px;
    border: 1px solid #3b3d42;
    background: linear-gradient(to left, #080808, #282828);
    color: #ffff;
    font-size: 10px;
    font-weight: 500;
    margin: 5% 0 10px 0;
}

.head{
    position: relative;
    top: -61px;
    margin-left: 34%;
    padding-top: 1px;
    width: 500px;
    height: 120px;
    background-color: #000000
}

.head :nth-child(1){
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    margin-top: 18px;
}

.head :nth-child(2){
    background-image: linear-gradient(-45deg, #E2E8F8, #91B0FF);
    background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
}

.lity{
    position: relative;
    top: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lity1{
    width: 24%;
    background-color: blue;
    background: linear-gradient(to right, #0D111A, #5C73AE);
    height: 3px;
    margin-top: 51px;
    /* margin-left: 20%; */
}

.lity2{
    width: 24%;
    background-color: red;
    background: linear-gradient(to left, #0D111A, #5C73AE);
    height: 3px;
    margin-top: 51px;
    /* margin-left: 20%; */
}



.frame {
    position: relative;
    display: inline-block;
    margin-left: 20%;
    margin-top: 7%;
}

.photo1 img:nth-child(1) {
    position: relative;
    height: 243px;
    top: 4px;
    left: -14px;

}
.photo1 img:nth-child(2) {
    position: relative;
    top: 45px;
    left: -10px;

}

.overlay {
    overflow: hidden;
    height: 100vh;
    width: 40vw;
    position: absolute;
    top: -290px;
    left: -64%;
}
.overlay-btn {
    
    position: absolute;
    top: -2%;
    left: -8%;
}

.photo2{
    position: relative;
    
}

.photo2 img:nth-child(1) {
    position: relative;
    top: -530px;
    left: -1px;
    width: 265px;
}
.photo2 img:nth-child(2) {
    position: relative;
    height: 263px;
    top: -237px;
    left: 3%;
}

.over-btn1 {
    
    position: absolute;
    top: -3%;
    left: 100%;
}

.secondimg{
    overflow: hidden;
    height: 100vh;
    width: 40vw;
    position: absolute;
    top: -290px;
    left: 50%;
}


.photo3{
    position: relative;
    
}

.photo3 img:nth-child(1) {
    position: relative;
    top: -517px;
    left: 220%;
    /* width: 265px; */
}
.photo3 img:nth-child(2) {
    position: relative;
    /* height: 263px; */
    top: -494px;
    left: 113%;
}
.photo3 img:nth-child(3) {
    position: absolute;
    /* height: 263px; */
    top: -536px;
    left: 113%;
}

.over-btn1 {
    position: absolute;
    top: -2%;
    left: 100%;
}
 .over-btn2{
    position: absolute;
    left: 217%;
    top: -2%;
 }

 .thirdimg{
    overflow: hidden;
    height: 100vh;
    width: 40vw;
    position: absolute;
    top: -290px;
    left: 164%;
}



.photo4{
    position: relative;
    
}

.photo4 img:nth-child(1) {
    position: relative;
    top: -790px;
    left: 334%;
    /* width: 265px; */
}
.photo4 img:nth-child(2) {
    position: relative;
    /* height: 263px; */
    top: -764px;
    left: 228%;
}
.photo4 img:nth-child(3) {
    position: absolute;
    /* height: 263px; */
    top: -806px;
    left: 229%;
}

 .over-btn3{
    position: absolute;
    left: 331%;
    top: -2%;
 }

 .forthimg{
    overflow: hidden;
    height: 100vh;
    width: 40vw;
    position: absolute;
    top: 18px;
    left: 164%;
}

.photo5{
    position: relative;
    
}

.photo5 img:nth-child(1) {
    position: relative;
    top: -760px;
    left: 334%;
    /* width: 265px; */
}
.photo5 img:nth-child(2) {
    position: relative;
    /* height: 263px; */
    top: -738px;
    left: 228%;
}
.photo5 img:nth-child(3) {
    position: absolute;
    /* height: 263px; */
    top: -473px;
    left: 115%;
}

 .over-btn4{
    position: absolute;
    left: 331%;
    top: 14%;
 }


 .fifthimg{
    overflow: hidden;
    height: 100vh;
    width: 40vw;
    position: absolute;
    top: 18px;
    left: 50%;
}

.photo6{
    position: relative;
    
}

.photo6 img:nth-child(1) {
    position: relative;
    top: -1025px;
    left: 221%;
    /* width: 265px; */
}
/* .photo6 img:nth-child(2) {
    position: relative;
    top: -738px;
    left: 228%;
} */
.photo6 img:nth-child(2) {
    position: absolute;
    /* height: 263px; */
    top: -743px;
    left: -3%;
}

 .over-btn5{
    position: absolute;
    left: 331%;
    top: 30%;
 }


 .sixthimg{
    overflow: hidden;
    height: 100vh;
    width: 40vw;
    position: absolute;
    top: 18px;
    left: -64%;
}

.photo7 img:nth-child(1) {
    position: relative;
    top: -1291px;
    left: 105%;
    /* width: 265px; */
}

.photo7 img:nth-child(2) {
    position: relative;
    /* height: 263px; */
    top: -1297px;
    left: -8%;
}


.over-btn6{
    position: absolute;
    left: 218%;
    top: 30%;
 }

 .over-btn7{
    position: absolute;
    left: 101%;
    top: 30%;
 }

 .over-btn8{
    position: absolute;
    left: -10%;
    top: 30%;
 }
 .over-btn9{
    position: absolute;
    left: -10%;
    top: 14%;
 }

 .contact-btn img{
    position: relative;
    top: -1211px;
    left: 44%;
 }



 
.trust{
    position: relative;
    top: -1140px;
    text-align: center;
    color: white;
    z-index: 3;
}

.trust button{
    width: 96px;
    height: 34px;
    border-radius: 15px;
    border: 1px solid #3b3d42;
    background: linear-gradient(to left, #080808, #282828);
    color: #ffff;
    font-size: 10px;
    font-weight: 500;
    margin: 5% 0 10px 0;
}

.H{
    position: relative;
    top: -61px;
    margin-left: 34%;
    padding-top: 1px;
    width: 500px;
    height: 120px;
    background-color: #000000
}

.H :nth-child(1){
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    margin-top: 18px;
}

.H :nth-child(2){
    background-image: linear-gradient(-45deg, #E2E8F8, #91B0FF);
    background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
}

.L{
    position: relative;
    top: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.L1{
    width: 24%;
    background-color: blue;
    background: linear-gradient(to right, #0D111A, #5C73AE);
    height: 3px;
    margin-top: 51px;
    /* margin-left: 20%; */
}

.L2{
    width: 24%;
    background-color: red;
    background: linear-gradient(to left, #0D111A, #5C73AE);
    height: 3px;
    margin-top: 51px;
    /* margin-left: 20%; */
}


.blurred-ellipse {
    position: relative;
    top: -1168px;
    margin: -3% 0 0 37%;
    width: 400px;
    height: 250px;
    background: radial-gradient(ellipse at center, #263048, #263048);
    filter: blur(30px);
    border-radius: 50%;
    /* z-index: 3; */
}

.trust :nth-child(4){
    margin-top: -47px;
    font-size: 15px;
    font-weight: 500;
    z-index: 10;
}
 
.bigf img{
    position: relative;
    top: -1251px;
    left: 15%;
}

.conbtn{
    position: relative;
    margin-left: 49%;
    top: 56px;
}

.conbtn button{
    position: absolute;
    width: 96px;
    height: 34px;
    background: linear-gradient(to left, #414141, #282828);
    color: white;
    font-size: 10px;
    font-weight: 500;
    top: -1143px;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 15px;
}

.contactpage{
    position: relative;
    top: -970px;
    display: flex;
    justify-content: space-around;
}


.font{
    position: relative;
    /* top: -61px; */
    margin-left: 18%;
    padding-top: 1px;
    width: 500px;
    height: 120px;
    /* background-color: red */
}

.font h3:nth-child(1){
    font-size: 36px;
    font-weight: 500;
    line-height: 10px;
    /* margin-top: 18px; */
    color: white;
}

.font h3{
    background-image: linear-gradient(-45deg, #E2E8F8, #91B0FF);
    background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
}


.font h4{
    margin-top: 30px;
    color: white;
}

.details{
    display: inline-flex;
        flex-direction: column;
        color: white;
        /* align-items: center; */
        justify-content: center;
        margin: 70px 0 0 90px;
}



    .input h4{
        color: white;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 8px;
    }

    .input input:nth-child(2){
        width: 484px;
        height: 36px;
        border-radius: 4px;
        border: 1px solid rgb(55, 55, 55);
        margin-bottom: 33px;
        background: transparent;
    }

    .input input:nth-child(4){
        width: 484px;
        height: 36px;
        border-radius: 4px;
        border: 1px solid rgb(55, 55, 55);
        margin-bottom: 33px;
        background: transparent;
    }

    .input input:nth-child(6){
        width: 484px;
        height: 107px;
        border-radius: 4px;
        border: 1px solid rgb(55, 55, 55);
        background: transparent;
    }

.shadow img{
    opacity: 0.2;
    margin-left: 34%;
    position: relative;
    top: -700px;
}

.footer{
    margin-left: 52px;
}